.counterButton {
    font-size: 20px;
    background-color: #00a5ab;
    width: 130px;
    margin: 10px;
    color: black;
    padding: 15px;
    border-radius: 20px;
    border-color: black;
    border-width: 5px;
}

.count {
    font-size: 35px;
    padding: 25px;
}

.totalCount {
    font-size: 50px;
    color: blue;
    padding: 40px;
}

.resetButton {
    font-size: 20px;
    background-color: #00ab25;
    width: 150px;
    margin: 10px;
    color: black;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
}